<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css" />
  <link rel="stylesheet" href="/css/queries.css" />
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

      <!-- MAIN CONTENT -->
      <main>
        <div class="container">
          <div class="error">
            <% if (errorMessages.length > 0) { %>
             <p class="error-message error-message-popup"><%= errorMessages[0] %></p>
             <% } %>
            <form action="/reset" method="POST" class="form-control container card">
              <div class="inputs">
                <input type="email" name="email" placeholder="Your email" />
                <button class="submit-btn" type="submit"><i class="fa-solid fa-paper-plane"></i> Send Reset Link</button>
              </div>
              <input type="hidden" name="_csrf" value="<%= CSRFToken %>">
            </form>
          </div>
        <%- include('../includes/end.ejs') %>