<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css" />
  <link rel="stylesheet" href="/css/queries.css" />
  </head>

  <body>
    <%- include('../includes/navigation.ejs') %>

      <!-- MAIN CONTENT -->
      <main>
        <div class="container">
          <div class="error">
            <% if (errorMessages.length > 0) { %>
              <p class="error-message error-message-popup"><%= errorMessages[0] %></p>
              <% } %>
            <form action="/signup" method="POST" class="form-control container card">
              <div class="inputs">
                <input class="<%= invalidFields.includes('email') ? 'err' : '' %>" type="email" name="email" placeholder="Your email" value="<%= oldInput.email %>" onInput="this.classList.remove('err')" />
                <input class="<%= invalidFields.includes('pass') ? 'err' : '' %>" type="password" name="pass" placeholder="Your password" minlength="8" maxlength="12" value="<%= oldInput.pass %>" onInput="this.classList.remove('err')" />
                <input class="<%= invalidFields.includes('confirmPass') ? 'err' : '' %>" type="password" name="confirmPass" placeholder="Confirm password" minlength="8" maxlength="12" value="<%= oldInput.confirmPass %>" onInput="this.classList.remove('err')" />
                <button class="submit-btn" type="submit">Create Account <i class="fa-solid fa-arrow-right-long"></i></button>
              </div>
              <input type="hidden" name="_csrf" value="<%= CSRFToken %>">
            </form>
          </div>
        <%- include('../includes/end.ejs') %>